<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= message %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="topnav">
        <a class="active" href="./index.ejs">Főoldal</a>
        <a href="./newCoupon.ejs">Új kupon készítése</a>
      </div>
    <form method="Post"> 
        <label>
            <p>Adja meg az előadás címét:</p>
            <input  type="text" name="cim" id="cim"> <br>
        </label>
        <label>
            <p>Hány százalékos a kedvezmény?</p>
            <input type="number" min="1" max="99" name="kedvezmeny" id="kedvezmeny"><br>
        </label>
        <label>
            <p>Adja meg a kedvezmény kódkát</p>
            <input type="text" name="kod" id="kod">
        </label>
    </form>
</body>
</html>